html,body {
	height:100%;
}

header {

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	display:block;
	background:#1587B8;
	padding:1px 0px;
    height: 85px;
}
section {
	width: 78%;
	float: left;
	overflow: auto;
	padding-bottom: 60px;
	padding-top:30px;
    border-radius: 10px;
    text-align: justify;
}

aside {
	float: right;
	border: 1px solid lightgray;
	width: 19%;
	border: 1px solid lightgray;
    margin: 10px;
}

footer {
	position: relative;
	margin-top: -50px;
	height: 20px; 
	padding:5px 0px;
	clear: both;
	background: #1587B8;
	text-align: center;
	color: #fff;
}





figure {
	display: table;
    margin: 0 auto;
}

nav{
    /*Bordes redondeados*/
    -webkit-border-radius:10px;/*Para chrome y Safari*/
    -moz-border-radius:10px;/*Para Firefox*/
    -o-border-radius:10px;/*Para Opera*/
    border-radius:10px;/*El estandar por defecto*/
    background-image: -webkit-gradient(linear, left top, left bottom, from(#90D2EE), to(#73CFF6));/*Para chrome y Safari*/
    /*Degradados*/
    background-image: -moz-linear-gradient(top center, #90D2EE, #73CFF6);/*Para Firefox*/
    background-image: -o-linear-gradient(top, #90D2EE, #73CFF6);/*Para Opera*/
    background-image: linear-gradient(top, #90D2EE, #73CFF6);/*El estandar por defecto*/
    overflow:hidden;
    padding:10px;
    width: 75%;   
    
}

nav ul{
    list-style:none;
    margin:0 10px 0 10px;
    padding:0;
    display: block;
}

nav ul li{
    /*Bordes redondeados*/
    -webkit-border-radius:5px;/*Chrome y Safari*/
    -moz-border-radius:5px;/*Firefox*/
    -o-border-radius:5px;/*Opera*/
    border-radius:5px;/*Estandar por defecto*/
    float:left;
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px;
    font-weight:bold;
    margin-right:10px;
    text-align:center;
    /*Sombras para texto, los mismos parametros que box-shadow*/
    text-shadow: 0px 1px 0px white;
}

nav ul li:hover{
    /*Degradado de fondo*/
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF), to( #E3E3E3));/*Chrome y Safari*/
    background-image: -moz-linear-gradient(top center, #FFF, #E3E3E3);/*Firefox*/
    background-image: -o-linear-gradient(top, #FFF, #E3E3E3);/*Opera*/
    background-image: linear-gradient(top, #FFF, #E3E3E3);/*Estandar por defecto*/
    /*Sombras*/
    -webkit-box-shadow:  1px -1px 0px #999;/*Chrome y Safari*/
    -moz-box-shadow:  1px -1px 0px #999;/*Firefox*/
    -o-box-shadow:  1px -1px 0px #999;/*Opera*/
    box-shadow:  1px -1px 0px #999;/*Estandar por defecto*/
    border:1px solid #E3E3E3;
}

nav ul li a{
    color:#999;
    display:block;
    padding:10px;
    text-decoration:none;
    /*Transiciones*/
    -webkit-transition: 0.4s linear all;
    -moz-transition: 0.4s linear all;
    -o-transition: 0.4s linear all;
    transition: 0.4s linear all;
}

nav ul li a:hover {
    color:#000;
}

.logo{  
    height: 50px;
    width: 120px;
    margin: 10px;
    vertical-align: middle;
    border-radius: 70%;
    text-align: center;
}

 .button{    
    height:25px;     
    font-weight: 150;    
    font-size: 15px;    
    color: #1587B8;
    background-color: #white;    
    border-radius: 6px;
    border: 2px solid #1587B8;    
  }

  .button:hover{
    color: #1883ba;
    background-color: #ffffff;
  }

  .busqueda{
    padding: 10px;
    font-weight: 200;
    font-size: 12px;
    border-radius: 6px;
    border: 2px solid #gray;
    height:30px; 
    size : 12;    
    border: 2px solid #1587B8;    
  }

.campo{
    text-align:center;
}

.cc{
    text-align:left;
}

.clearfix{
    clear:both;
} 

.aside1{
    float: left;
} 

.aside2{
    float: right;
}

.centrado{
    vertical-align: middle;
    margin: 2px;
    padding: 10px;

}

h4{
    text-align:right; 
    padding: 1px;

}


.oo {
  float: left;
  padding: 10px;  
  text-align:left;
}

.cp{      
    text-align: center;
    vertical-align: middle;
}

